# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
Results/PCAPS/asus/br3-internal_family_dbl.yml_2025-04-05_19.38.20.pcap
Results/PCAPS/asus/br3-internal_family_phishing_army.yml_2025-04-07_11.59.55.pcap
Results/PCAPS/asus/br3-internal_family_phishtank.yml_2025-04-07_12.27.29.pcap
Results/PCAPS/asus/br3-internal_family_quidsup.yml_2025-04-07_12.31.08.pcap
Results/PCAPS/asus/br3-internal_family_url_abuse.yml_2025-04-07_12.26.38.pcap
Results/PCAPS/asus/br3-internal_nopc_dbl.yml_2025-04-04_17.39.16.pcap
Results/PCAPS/asus/br3-internal_nopc_phishing_army.yml_2025-04-07_12.05.27.pcap
Results/PCAPS/asus/br3-internal_nopc_phishtank.yml_2025-04-07_12.28.28.pcap
Results/PCAPS/asus/br3-internal_nopc_quidsup.yml_2025-04-07_12.30.41.pcap
Results/PCAPS/asus/br3-internal_nopc_url_abuse.yml_2025-04-07_12.25.58.pcap
Results/PCAPS/netgear/br2-internal_adult_dbl.yml_2025-04-07_11.59.19.pcap
Results/PCAPS/netgear/br2-internal_adult_phishing_army.yml_2025-04-07_19.52.32.pcap
Results/PCAPS/netgear/br2-internal_adult_phishtank.yml_2025-04-07_19.48.12.pcap
Results/PCAPS/netgear/br2-internal_adult_quidsup.yml_2025-04-07_19.47.19.pcap
Results/PCAPS/netgear/br2-internal_adult_url_abuse.yml_2025-04-07_19.47.39.pcap
Results/PCAPS/netgear/br2-internal_child_dbl.yml_2025-04-05_19.41.51.pcap
Results/PCAPS/netgear/br2-internal_child_phishing_army.yml_2025-04-08_11.35.23.pcap
Results/PCAPS/netgear/br2-internal_child_phishtank.yml_2025-04-07_19.33.55.pcap
Results/PCAPS/netgear/br2-internal_child_quidsup.yml_2025-04-07_19.38.54.pcap
Results/PCAPS/netgear/br2-internal_child_url_abuse.yml_2025-04-07_19.39.19.pcap
Results/PCAPS/netgear/br2-internal_nopc_dbl.yml_2025-04-04_17.35.44.pcap
Results/PCAPS/netgear/br2-internal_nopc_phishing_army.yml_2025-04-07_18.54.11.pcap
Results/PCAPS/netgear/br2-internal_nopc_phishtank.yml_2025-04-07_19.28.58.pcap
Results/PCAPS/netgear/br2-internal_nopc_quidsup.yml_2025-04-07_19.32.56.pcap
Results/PCAPS/netgear/br2-internal_nopc_url_abuse.yml_2025-04-07_19.26.08.pcap
Results/PCAPS/netgear/br2-internal_teen_dbl.yml_2025-04-06_17.55.36.pcap
Results/PCAPS/netgear/br2-internal_teen_phishing_army.yml_2025-04-08_11.00.32.pcap
Results/PCAPS/netgear/br2-internal_teen_phishtank.yml_2025-04-07_19.43.23.pcap
Results/PCAPS/netgear/br2-internal_teen_quidsup.yml_2025-04-07_19.43.04.pcap
Results/PCAPS/netgear/br2-internal_teen_url_abuse.yml_2025-04-07_19.42.31.pcap
Results/PCAPS/netgear/ON NETGEAR ONLY INTERNAL.txt
Results/PCAPS/tplink/br1_external_nopc_dbl.yml_2025-04-04_17.33.19.pcap
Results/PCAPS/tplink/br1_external_nopc_phishing_army.yml_2025-04-07_11.57.54.pcap
Results/PCAPS/tplink/br1_external_nopc_phishtank.yml_2025-04-07_12.19.23.pcap
Results/PCAPS/tplink/br1_external_nopc_quidsup.yml_2025-04-07_12.20.44.pcap
Results/PCAPS/tplink/br1_external_nopc_url_abuse.yml_2025-04-07_12.08.16.pcap
Results/PCAPS/tplink/br1-external_nopc_url_abuse.yml_2025-04-07_12.08.16.pcap
Results/PCAPS/tplink/br1-internal_nopc_dbl.yml_2025-04-04_17.33.19.pcap
Results/PCAPS/tplink/br1-internal_nopc_phishing_army.yml_2025-04-07_11.57.54.pcap
Results/PCAPS/tplink/br1-internal_nopc_quidsup.yml_2025-04-07_12.20.44.pcap
Results/PCAPS/tplink/br1-internal_phishtank.yml_2025-04-07_12.19.23.pcap
Shared document for Matteo’s ANRW paper - CodiMD.url
Lists 04-04-25/dnseu_checker_v2.py
Lists 04-04-25/opendns_checker_save.py
Lists 04-04-25/dnseu_checker_save.py
Lists 04-04-25/opendns_checker_save.py
